.header_logo .logo a {
    position: relative;
}

.header_logo .logo a .logo_layer {
    background: url(http://img.17ugo.com/images/topic/20160505homepage/logo-flower.png) no-repeat;
    width: 226px;
    height: 66px;
    position: absolute;
    top: -13px;
    left: -7px;
    display: none;
}


/*.bg_b2 {
    background: #f2f2f2 url(http://img.17ugo.com/images/topic/20160505homepage/body_bg_flower_03.jpg) no-repeat top center;
}*/